* {
    box-sizing: border-box;
}

body {
    background-color: #cc9966;
}

.container {
    width: 990px;
    padding: 15px;
    background-color: #fff;
    margin: 20px auto;

}

header {
    height: 150px;
    background-color: #066e14;
}

nav {
    height: 50px;
    background-color: #6b4622;
    margin: 15px 0;
}

main {
    width: 660px;
    height: 600px;
    background-color: #e6e6e6;
    float: left;
    margin-bottom: 15px;
}

aside {
    width: 290px;
    height: 600px;
    background-color: #ccc999;
    float: right;
}

footer {
    height: 50px;
    background-color: #6b4622;
    clear: both;
}