
body {
    color: greenyellow;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;

}

h3 {
    font-size: 40px;
    color: white;
}

h2 {
    color: #333;

}

p {
    color: #f90;
}

#home p{
    color: aquamarine;
}

#about p{
    font-size: 22px;
    color: rebeccapurple;
}

.orange {
    color: orange;
}

.bold {
    font-weight: bold;
}

h4 {
    color: green;
}

h4#heading-four{
    color :red;
}

div p {
    font-size: 12px;
}

.boldi {
font-weight: bold;
}

div p a {
    color: tomato;
    font-size: 20px;
}

div p.boldi a {
    font-style: italic;
}

h1, h2, h3, h4 ,h5 {
    font-size: 25px;
    color: burlywood;
}