h2 {
    color: #f90;
}

h2#heading-two {
    color :red;
}

div p {
    font-size: 12px;
}

#heading-two {
    color:purple;
}

div p.bold {
    font-weight: bold;
}

div p a {
    color:tomato;
    font-size: 20px;
}

div p.bold a {
    font-style: italic;
}

h1, h2, h3, h4 {
    color: aquamarine;
    font-size: 25px;
}

