*{
    box-sizing: border-box;
}

.box {
    background-color: #f90;
    width: 250px;
    height: 150px;    
    padding: 10px;
    border:10px solid red;     
    font-size: 12px;
    margin: 30px auto;
    overflow: hidden;
    

}
   

.box:first-of-type {
    display: none;
}

/* ul {
    list-style: none;
} */

ul li {
    display: inline;
    margin: 20px 0;
}

ul li a {
    text-decoration: none;
    color: #fff;
    background-color: #f90;
    padding: 8px;
    margin: 20px 0;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

p span {
    background-color: coral;
    width: 200px;
    height: 100px;
    margin: 20px;
    padding: 8px;
    display: inline-block;
}